<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Usuarios</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/components/header.css}" />
        <link rel="stylesheet" th:href="@{/css/users/list.css}" />
    </head>
    <body>
        <div th:replace="~{components/header :: header}"></div>
        <div class="container">
            <h2>Lista de Usuarios</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">1</td>
                        <td th:text="${user.username}">JohnDoe</td>
                        <td th:text="${user.email}">email@example.com</td>
                        <td>
                            <a th:href="@{/users/edit(id=${user.id})}"
                                >Editar</a
                            >
                            <!-- If you want path variables use this format: <a th:href="@{/users/edit/{id}(id=${user.id}) -->
                            <a th:href="@{/users/delete(id=${user.id})}"
                                >Eliminar</a
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="~{components/footer :: footer}"></div>
    </body>
</html>
